div.carousel-inner {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

nav {
    left: 0;
    padding: 15px;
    background-color: #ff5c8a;
}

body {
    background-color: white;
}

#specialFont{
    color: white;
    padding-top: 27px;
    text-align: center;
    font-weight: lighter;
}

#accountName {
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
}

.col-md {
    text-align: center;
    padding-inline: 20px;
    padding-bottom: 30px;
}

.col-sm {
    justify-items: center;
}

.col-lg {
    text-align: center;
}
#frontPageIcons {
    color: #ff99ac;
    font-size: 100px;
}

.topright {
    position: absolute;
    font-size: 43px;
    top: 10%;
    left: 45%;
    justify-self: right;
    font-weight:bolder;
    color:white;
}

div {
    overflow: hidden;
}

#matchmakeIcons {
    color:#ff0a54 ;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 60px;
}


#underCarousel {
    height: 100px;
    background-color: #ff85a1;
}

.nav-item {
    margin-inline: 50px;
    vertical-align: middle;
}

#findMatchText {
    vertical-align: middle;
    color: whitesmoke;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-inline: 60px;  
    line-height: 2.2;
}