<!DOCTYPE html>
<html lang="en">
    <head>
         <!-- required meta tags-->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         
         <!--import Bootstrap CSS-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous">
         
         <!--import js bundle-->
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
         
          <!--Import Awesome Icons-->
          <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
        
        <!--Import CSS File-->
        <link rel="stylesheet" href="static/css/styles.css">    
 
         <title>Amorus - Login</title>
    </head>
    <body style="background-color: #ff99ac;">

        <nav id="homeNavBar" class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="/">
                <h1 style="font-size: 50px;">Amorus</h1>  <!--Adding Brand Name to NavBar-->
            </a> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Tabs in the NavBar-->
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="matchmaker">Find Companions</a>
                        <a class="nav-item nav-link" href="#">Reservations</a>
                        <a class="nav-item nav-link" href="#">Personalized Gifts</a>
                        
                        <a class="btn btn-light me-auto" type="submit" style="right: 0;" href="/signIn">Login</a>
                        
                    </div>
                </div>
            </div>

        </nav>

        <!--Spacer Division-->
        <div style="margin-top: 90px;"></div>

        <!--Display Login Guiding Text-->
        <h2 class="whiteText" style="text-align: center; padding-top: 60px;">Login or Sign Up</h2>

        

         <!--Spacer -->
        <div style="padding-top: 40px;"></div>

        <!--Container divided in 2-->
        <div class="container-fluid">
            <div class="row">
            
            
                <div class="col-lg" style=" background-color:  #ff99ac;">
                    <!--Take Login Credeentials-->
                    <form action="/doLogin" method="POST" role="form">
                        
                       

                        <!--CHECK IF THESE ARE EMPTY!-->    
                        <div class="form-group" style="text-align: center;"> 
                            <label class="whiteText" style="padding-top: 30 px">Amorus ID:</label>
                            <input class="form-control" id="id" placeholder="Amorus ID" name="id" style="margin:auto; width: 200px;">

                            <div style="margin-top: 20px"></div>

                            <input class="btn btn-light" type="submit" style="text-align: center;" href="/doLogin">
                        </div>
                    </form>
                </div>
                
        

                <div class="col-lg">

                    <button type="submit" class="btn btn-danger" href="/">New Account</button>

                </div>

            </div>
        </div>  
    </body>
</html>